@mixin buttonBackground {
  background: linear-gradient(49.65deg, #BD7533 2.17%, #FEB839 99.05%);
  border-radius: 5px;
  border: 0px solid transparent;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;

  &:hover{
    background: #148C53;
    color: #fff;
  }

  &:active{
    background: #148C53;
    color: #fff;
  }
}

@mixin buttonBackgroundWithBorder {
  background: inherit;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;

  &:hover{
    background: #148C53;
    color: #fff;
  }

  &:active{
    background: #148C53;
    color: #fff;
  }
}
